<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="/dist/output.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.css" rel="stylesheet" />
</head>

<body>
    
    

 
 <aside id="separator-sidebar" class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0" aria-label="Sidebar">
    <div class="h-full px-3 py-4 overflow-y-auto bg-gray-50 dark:bg-gray-800">
       <ul class="space-y-2 font-medium">
          <li class="flex justify-end mb-8">
             <a href="#" class="flex items-end p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group" style="border: 2px solid rgb(206, 203, 203);">
                
                <span class="mx-4 text-2xl" >Dashboard</span>
             </a>
          </li>
          
          
          <li>
            
            <a href="/profile" class="flex items-center p-1">
               > <span class="ml-2 text-xl p-2 px-5 flex justify-center text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group" style="border: 2px solid rgb(206, 203, 203);;">My Profile</span>
            </a>
         </li>
          <li>
            
             <a href="/connection" class="flex items-center p-1">
                > <span class="ml-2 text-xl flex justify-center p-2 px-5 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">Connections</span>
             </a>
          </li>
          
       </ul>
    </div>
 </aside>
 
 <div class="sm:ml-64">
    <div id="navbar" style="height: max-content;" class="py-2 border-b-2 border-gray-200 flex px-8 justify-end items-center" >
        <div>
          <button style="float: left;" data-drawer-target="separator-sidebar" data-drawer-toggle="separator-sidebar" aria-controls="separator-sidebar" type="button" class="inline-flex items-center p-2 mt-2 ml-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
            <span class="sr-only">Open sidebar 
                
            </span>
            
            <svg class="w-6 h-6 mt-3" style="margin-left: -20px;" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
               <path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
            </svg>
         </button>
         <img src="https://play-lh.googleusercontent.com/DbPJM2-rgNze7cxL2Pfy3hNukeHxNaH-Y85cGmFQyyn8_cdnCDqsnV-zuC45x43JVXw" alt="" class="self-center sm:hidden" style="height: 80px;">
          
        </div>
        <button style="margin: 10px 0px;" id="dropdownDefaultButton" data-dropdown-toggle="dropdown" class="text-whit border-2 border-gray-200 hover:bg-gray-300 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">
            <img src="<%=currentUser.image%>" alt="" class="self-center flex-shrink-0 w-10 h-10 border rounded md:justify-self-start dark:bg-gray-500 dark:border-gray-700">
                
            <div class="mx-4" id="nav-text">
               <div class="text-left" >Welcome Back</div>
                <div class="text-semibold text-left text-xl"><%=currentUser.firstname%> <%=currentUser.lastname%></div>  
            </div>
            
            <svg class="w-2.5 h-2.5 ml-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
          </svg>
        </button>
        <!-- Dropdown menu -->
        <div id="dropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
            <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
              <li>
                <a href="#" class="block px-4 py-2 hover:bg-blue-300 dark:hover:bg-gray-600 dark:hover:text-white">Dashboard</a>
              </li>
              <li>
                <a href="/profile" class="block px-4 py-2 hover:bg-blue-300 dark:hover:bg-gray-600 dark:hover:text-white">Profile</a>
              </li>
              <li>
                <a href="/connection" class="block px-4 py-2 hover:bg-blue-300 dark:hover:bg-gray-600 dark:hover:text-white">Connections</a>
              </li>
              <li>
                <a href="/signout" class="block px-4 py-2 hover:bg-blue-300 dark:hover:bg-gray-600 dark:hover:text-white">Sign out</a>
              </li>
            </ul>
        </div>

    </div>
    
    <% if(success && success.length){%>
        <div id="alert-border-3" class="flex items-center p-4 mb-4 text-green-800 border-t-4 border-green-300 bg-green-50 dark:text-green-400 dark:bg-gray-800 dark:border-green-800" role="alert">
            <svg class="flex-shrink-0 w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
            </svg>
            <div class="ml-3 text-sm font-medium text-xl">
              <%=success %>
            </div>
            <button type="button" class="ml-auto -mx-1.5 -my-1.5 bg-green-50 text-green-500 rounded-lg focus:ring-2 focus:ring-green-400 p-1.5 hover:bg-green-200 inline-flex items-center justify-center h-8 w-8 dark:bg-gray-800 dark:text-green-400 dark:hover:bg-gray-700"  data-dismiss-target="#alert-border-3" aria-label="Close">
              <span class="sr-only">Dismiss</span>
              <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
              </svg>
            </button>
        </div>
    <% }  %>
    <% if(error && error.length){%>
        <div id="alert-border-2" class="flex items-center p-4 mb-4 text-red-800 border-t-4 border-red-300 bg-red-50 dark:text-red-400 dark:bg-gray-800 dark:border-red-800" role="alert">
            <svg class="flex-shrink-0 w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
            </svg>
            <div class="ml-3 text-sm font-medium text-xl">
              <%=error %>
            </div>
            <button type="button" class="ml-auto -mx-1.5 -my-1.5 bg-red-50 text-red-500 rounded-lg focus:ring-2 focus:ring-red-400 p-1.5 hover:bg-red-200 inline-flex items-center justify-center h-8 w-8 dark:bg-gray-800 dark:text-red-400 dark:hover:bg-gray-700"  data-dismiss-target="#alert-border-2" aria-label="Close">
              <span class="sr-only">Dismiss</span>
              <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
              </svg>
            </button>
        </div>
    <% }  %>
    <div style="margin: 10px 5vw; padding-bottom: 10px; background-color: aliceblue; border-radius: 10px;">
        <div class="z-10" id="box" >

        </div>

        
       
       <div id="profile" user='<%=JSON.stringify(currentUser)%>' class="flex items-top justify-between rounded bg-gray-50 dark:bg-gray-800">
            <div id="profile-column-1" class="px-4">
                <div class="py-4 sm:p-12 dark:bg-gray-900 dark:text-gray-100">
                    <div class="flex items-center justify-between">
                        <img src="<%=currentUser.image%>" alt="" class="self-center flex-shrink-0 w-24 h-24 border rounded-full md:justify-self-start dark:bg-gray-500 dark:border-gray-700">
                        
                        <button id="edit-image" data-modal-target="defaultModal" data-modal-toggle="defaultModal" class="bg-gray-200 p-2 rounded-full">Edit Photo</button>
                        <!-- <button class="bg-gray-200 p-2 rounded-full">Upgrade Plan</button> -->
                        
                    </div>
                    
                </div>
                <div class="p-3 mb-2 rounded" style="border: 2px solid rgb(206, 203, 203);">
                    <div class="mb-2">
                        <div class="text-sm" style="color: gray;">
                            Your Name
                        </div>
                        <div class="flex items-center justify-between">
                            <span class="text"><%=currentUser.firstname%> <%=currentUser.lastname%></span>

                            <button id="edit-personal" data-modal-target="defaultModal" data-modal-toggle="defaultModal" class="bg-gray-200 p-2 rounded-full text-sm w-24 hover:bg-gray-300" style="margin-top: -5px;">Edit</button>

                        </div>
                    </div>
                    <div class="mb-2">
                        <div class="text-sm" style="color: gray;">
                            Email
                        </div>
                        <div class="flex items-center justify-between">
                            <span class="text"><%=currentUser.email %></span>

                            <button id="edit-personal" data-modal-target="defaultModal" data-modal-toggle="defaultModal" class="bg-gray-200 p-2 rounded-full text-sm w-24 hover:bg-gray-300" style="margin-top: -5px;">Edit</button>

                        </div>
                    </div>
                    <div class="mb-2">
                        <div class="text-sm" style="color: gray;">
                            Number
                        </div>
                        <div class="flex items-center justify-between">
                            <span class="text">+91 <%=currentUser.telephone %></span>

                            <button id="edit-personal" data-modal-target="defaultModal" data-modal-toggle="defaultModal" class="bg-gray-200 p-2 rounded-full text-sm w-24 hover:bg-gray-300" style="margin-top: -5px;">Edit</button>

                        </div>
                    </div>
                    
                </div>
                <div class="p-3 mb-2 rounded" style="border: 2px solid rgb(206, 203, 203);;">
                    <div class="mb-2">
                        <div class="flex items-center justify-between">
                            <span class="font-semibold text-xl">About<span class="ml-2 text-blue-600 "><%=currentUser.firstname%></span></span>
                             
                            <button id="edit-about" data-modal-target="defaultModal" data-modal-toggle="defaultModal" class="bg-gray-200 p-2 rounded-full text-sm w-24 mt-2 hover:bg-gray-300">Edit</button>
                            
                            
                        </div>
                        <p class="text-sm"><%=currentUser.about %></p>
                    </div>
                </div>
                <div class="p-3 mb-4 rounded" style="border: 2px solid rgb(206, 203, 203);">
                    <div class="mb-2">
                        <div class="flex items-center justify-between">
                            <span class="font-semibold text-xl">Skills</span>
                             
                            <button id="edit-skills" data-modal-target="defaultModal" data-modal-toggle="defaultModal" class="bg-gray-200 p-2 rounded-full text-sm w-24 mt-2 hover:bg-gray-300">Add Skills</button>
                            
                            
                        </div>

                        <% for(let v of currentUser.skills) {%>
                            <p class="mt-2 rounded-full relative text font-medium p-1 bg-gray-200"><span class="ml-3"><%=v%></span> <a href="/edit/skills?index=<%=currentUser.skills.indexOf(v)%>"><button id="delete" class="absolute rounded w-7 right-3 hover:bg-gray-500 hover:text-white ">X</button></a></p>
                        <% } %>
                        
                    </div>
                </div>
            </div>
            <div id="profile-column-2" class="px-4" >
                
                <div class="mt-4 p-3 rounded" style="border: 2px solid rgb(206, 203, 203);;">
                    <div class="mb-2 flex items-center justify-between">
                        <div class="">
                            <div class="font-semibold">Professional Details</div>
                            <p class="text-sm">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae nesciunt distinctio amet exercitationem nihil.</p>
                            
                            
                            
                        </div>
                        <img src="https://images.unsplash.com/photo-1542665174-31db64d7e0e4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fHN0YXJ8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60" alt="" class="self-center flex-shrink-0 w-24 h-24 border rounded-full md:justify-self-start dark:bg-gray-500 dark:border-gray-700">
                    </div>
                </div>
                <div class="mt-4 mb-6 sm:p-12 dark:bg-gray-900 dark:text-gray-100">
                    <div class="pb-3 flex items-center justify-between">
                        <div class="font-semibold" >Certifications</div>
                        
                        <button id="edit-certificates" data-modal-target="defaultModal" data-modal-toggle="defaultModal" class="bg-gray-200 p-2 rounded-full w-24 hover:bg-gray-300">Edit</button>
                        
                    </div>
                    <% for(let v of currentUser.certifications){%>
                        <div class="mt-1 p-3 rounded-full" style="border: 2px solid rgb(206, 203, 203);;">
                            <div class="flex items-center justify-self-start">
                                
                                <img src="https://images.unsplash.com/photo-1542665174-31db64d7e0e4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fHN0YXJ8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60" alt="" class="self-center flex-shrink-0 w-14 h-14 border rounded-full md:justify-self-start dark:bg-gray-500 dark:border-gray-700">
                                <div class="text-center" style="width: 100%;">
                                    <div class="font-semibold"><%=v.nameOfCertification %></div>
                                    <div><%=v.issuingAuthority %></div>
                                </div>
                                <a href="/edit/certifications?index=<%=currentUser.certifications.indexOf(v)%>"><button id="delete" class="rounded w-7 hover:bg-gray-500 hover:text-white ">X</button></a>
                            </div>
                        </div>
                    <% } %>
                </div>
                <div class="mt-4 mb-6 sm:p-12 dark:bg-gray-900 dark:text-gray-100">
                    <div class="pb-3 flex items-center justify-between">
                        <div class="font-semibold" >Experiences</div>
                        
                        <button id="edit-experiences" data-modal-target="defaultModal" data-modal-toggle="defaultModal" class="bg-gray-200 p-2 rounded-full w-24 hover:bg-gray-300">Edit</button>
                        
                    </div>
                    <% for(const [index,v] of currentUser.experiences.entries()){%>
                    <div class="p-3 mb-2 rounded" style="border: 2px solid rgb(206, 203, 203);;">
                        <div class="flex items-center justify-between">
                            <div id="experience-text">
                                <% let dur=-v.starting.getFullYear()+v.ending.getFullYear(), c=0 %>
                                <% if(dur==0) {%>
                                    <% dur=-v.starting.getMonth()+v.ending.getMonth(); c=1 %>    
                                <% } %>
                                <div class="font-semibold flex justify-between">
                                    <span><%= dur %> <% if(c==1){%> <%='months'%> <% }else{%> <%='years'%><% } %> (<%=v.starting.getFullYear()%>-<%=v.ending.getFullYear()%>) </span>
                                    <span><%=v.timings%></span>
                                </div>
                                <div class="flex justify-between">
                                    <span><%=v.organization%></span>
                                    <span>--<%=v.role%></span>
                                </div>
                            </div>
                            <img src="https://play-lh.googleusercontent.com/DbPJM2-rgNze7cxL2Pfy3hNukeHxNaH-Y85cGmFQyyn8_cdnCDqsnV-zuC45x43JVXw" alt="" class="self-center h-14">
                            <a href="/edit/experiences?index=<%=index%>"><button id="delete" class="ml-2 rounded w-7 hover:bg-gray-500 hover:text-white ">X</button></a>
                        </div>
                    </div>
                    <% } %>
                    
                </div>

                <div class="mt-4 mb-6 sm:p-12 dark:bg-gray-900 dark:text-gray-100">
                    <div class="pb-3 flex items-center justify-between">
                        <div class="font-semibold" >Education</div>
                        
                        <button id="edit-education" data-modal-target="defaultModal" data-modal-toggle="defaultModal" class="bg-gray-200 p-2 rounded-full w-24 hover:bg-gray-300">Edit</button>
                        
                    </div>
                    <% for(let [index,v] of currentUser.education.entries()){%>
                    <div class="mb-2 p-3 rounded" style="border: 2px solid rgb(206, 203, 203);;">
                        <div class="">
                            <div>
                                <div class="flex justify-between font-bold text-xl text-gray-500"><%=v.schoolName%> <a href="/edit/education?index=<%=index%>"><button id="delete" class="ml-2 rounded w-7 hover:text-white ">X</button></a></div>
                                
                                <div class="font-semibold flex justify-between">
                                    <span><%=v.yearofenrollment %>-<%=v.yearofpassingout %></span>
                                    <span><%=v.course %></span>
                                </div>
                                <p class="text-sm"><%=v.desc %></p>
                            </div>
                        </div>
                    </div>
                    <% } %>
                    
                </div>

                
            </div>
       </div>

       
       
    </div>
 </div>


    
  
  <!-- Main modal -->
  <div id="defaultModal" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
      <div class="relative w-full max-w-2xl max-h-full">
          <!-- Modal content -->
          <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
              <!-- Modal header -->
              <div class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600">
                  <h3 id="editform-heading" class="text-xl font-semibold text-gray-900 dark:text-white">
                      Terms of Service
                  </h3>
                  <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="defaultModal">
                      <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                      </svg>
                      <span class="sr-only">Close modal</span>
                  </button>
              </div>
              <!-- Modal body -->
              <div class="p-6 space-y-6" >
                <form action="/edit?_method=PATCH" method="post" id="inner-form" enctype="multipart/form-data">
                            
                </form>
                <!-- <form action="/edit/?_method=PATCH" method="post" id="inner-form-2" enctype="multipart/form-data">
                    <div id="inner-form">

                    </div>
                            
                </form> -->
              </div>
              <!-- Modal footer -->
              <div class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600">
                  <button id="save" type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Save Changes</button>
                  <button data-modal-hide="defaultModal" type="button" class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">Discard</button>
              </div>
          </div>
      </div>
  </div>
  
  
    <style type="text/css">
    @keyframes ldio-9ytghyu6bbm {
      0% { transform: translate(-50%,-50%) rotate(0deg); }
      100% { transform: translate(-50%,-50%) rotate(360deg); }
    }
    .ldio-9ytghyu6bbm div {
      position: absolute;
      width: 58px;
      height: 58px;
      border: 16px solid #e6e6e6;
      border-top-color: transparent;
      border-radius: 50%;
    }
    .ldio-9ytghyu6bbm div {
      animation: ldio-9ytghyu6bbm 1s linear infinite;
      top: 50px;
      left: 50px
    }
    .loadingio-spinner-rolling-s64mgscm44 {
      width: 30px;
      height: 30px;
      display: inline-block;
      overflow: hidden;
      background: none;
    }
    .ldio-9ytghyu6bbm {
      width: 100%;
      height: 100%;
      position: relative;
      transform: translateZ(0) scale(0.3);
      backface-visibility: hidden;
      transform-origin: 0 0; /* see note above */
    }
    .ldio-9ytghyu6bbm div { box-sizing: content-box; }
    /* generated by https://loading.io/ */
    </style>
    <script src="/js/app.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"></script>
</body>
</html>


    